<p>You will lose <strong>${{sunday.loss}}</strong> each Sunday you work. That’s because the Fair Work Commission has cut your Sunday penalty rate from <strong>{{sunday.rateBefore}}%</strong> to <strong>{{sunday.rateAfter}}%</strong> on Sundays.{{#if fastFood}} This is for level one employees.{{/if}}</p>
